body {
    font-size: 15px;
    margin: 40px;
    padding: 20px;
    background-color: hsl(0, 0%, 95%);
}


p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    padding-left: 15px;
    padding-right: 48px;
    margin-right: 48px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

h3 {
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 34px;
    font-family: 'Big Shoulders Display', cursive;
}

.flex-container {
    display: flex;
    flex: auto;
    flex-direction: row;
    height: 400px;
    align-items: center;
    justify-items: center;
    padding-top: 40px;
}

.item-1 {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 30px;
    /* height: 400px; */
    align-items: center;
    background-color: hsl(31, 77%, 52%);
}

.item-2 {
    padding: 30px;
    /* height: 400px; */
    align-items: center;
    background-color: hsl(184, 100%, 22%);
}

.item-3 {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 30px;
    /* height: 400px; */
    align-items: center;
    background-color: hsl(179, 100%, 13%);
}

button {
    margin-top: 50px;
    font-family: 'Lexend Deca', sans-serif;
}

.item-1 .btn {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: white;
    border-radius: 25px;
    color: hsl(31, 77%, 52%);
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
}

.item-2 .btn {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: white;
    border-radius: 25px;
    color: hsl(184, 100%, 22%);
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
}

.item-3 .btn {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: white;
    border-radius: 25px;
    color: hsl(179, 100%, 13%);
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
}


.btn:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
    color: hsl(0, 0%, 95%)
}

@media (max-width: 680px) {
    .flex-container {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
    }

    p {
        padding-left: 4px;
        padding-right: 4px;
        margin: 8px;
    }

    button {
        margin-top: 10px;
        /* padding-top: 24px; */
    }

    .item-1 {
        border-radius: 0px;
        padding: 10px;
        height: 300px;
        background-color: hsl(31, 77%, 52%);
    }

    .item-1 .btn {
        border: 2px solid hsl(0, 0%, 95%);
        background-color: white;
        border-radius: 25px;
        color: hsl(31, 77%, 52%);
        padding: 8px 18px;
        font-size: 10px;
        cursor: pointer;
    }

    .item-2 {
        /* border-radius: 5px; */
        padding: 10px;
        height: 400px;
        background-color: hsl(184, 100%, 22%);
    }

    .item-2 .btn {
        border: 2px solid hsl(0, 0%, 95%);
        background-color: white;
        border-radius: 25px;
        color: hsl(184, 100%, 22%);
        padding: 8px 18px;
        font-size: 10px;
        cursor: pointer;
    }

    .item-3 {
        border-radius: 0px;
        padding: 10px;
        height: 300px;
        background-color: hsl(179, 100%, 13%);
    }

    .item-3 .btn {
        border: 2px solid hsl(0, 0%, 95%);
        background-color: white;
        border-radius: 25px;
        color: hsl(179, 100%, 13%);
        padding: 8px 18px;
        font-size: 10px;
        cursor: pointer;
    }
}